body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    background-color: blanchedalmond;
    font-weight: 900;
    font-size: 30px;
    color: rgb(171, 71, 21);
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: rgb(171, 71, 21);
}

h3 {
    font-size: 20px;
    color: rgba(171, 71, 21, 0.616)
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    display: block;
    font-weight: bold;
    text-align: center;
}